<h1> Sign in </h1>

<form action="/sign_in" method="POST">
  <input name="user[email]" type="email" placeholder="example@email.com" required="true"/>
  <input name="user[password]" type="password" placeholder="Password" required="true" />
  <input type="submit" value="Sign in" />
</form>
