/*dark - #515151*/
/*other dark - #636363*/
/*link blue - #21759b*/

body {
  background-color: #F5F5F5;
}

.main-container {
  margin: 0 auto;
  padding: 40px;
  max-width: 100ex;
  background-color: #FFFFFF;
}

.site-title {
  margin-top: 0;
}

.site-title-link {
  color: #515151;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.2em;
}

.site-title-link:hover {
  color: #21759b;
  cursor: pointer;
}

.site-navigation {
  border-top: 1px solid rgb(81, 81, 81, .1);
  border-bottom: 1px solid rgb(81, 81, 81, .1);
  margin: 20px 20px 0 0;
}

.navigation-menu {
  display: flex;
  padding: 0;
}

.navigation-item {
  margin: 0 20px 0 0;
  list-style: none;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.navigation-item:hover {
  cursor: pointer;
  letter-spacing: 0
  color: #636363;
  text-shadow: .25px 0px .1px, -.25px 0px .1px;
}

.navigation-link {
  text-decoration: none;
  color: #636363;
}

article {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 29px;
  max-width: 83.2ex;
}

.post-title a {
  color: rgb(65, 110, 210);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.4em;
}

.post-body {
  font-size: 18px;
  line-height: 29px;
}

.post-body a {
  color: rgb(65, 110, 210);
}


