/* dark - #515151*/
/* other dark - #636363*/
/* link blue - #21759b*/
/* red #B91C1C */
/* dark gold #D97706 */

body {
  background-color: #F5F5F5;
  font-family: Helvetica, Arial, sans-serif;
}

.main-container {
  margin: 40px auto;
  padding: 40px;
  max-width: 100ex;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.2);
}

.site-title {
  margin-top: 0;
}

.site-title-link {
  color: #515151;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.2em;
}

.site-title-link:hover {
  color: #B91C1C;
  cursor: pointer;
}

.site-navigation {
  border-top: 1px solid rgb(81, 81, 81, .1);
  border-bottom: 1px solid rgb(81, 81, 81, .1);
  margin: 20px 20px 0 0;
}

.navigation-menu {
  display: flex;
  padding: 0;
}

.navigation-item {
  margin: 0 20px 0 0;
  list-style: none;
  text-transform: uppercase;
}

.navigation-item:hover {
  cursor: pointer;
  letter-spacing: 0
  color: #636363;
  text-shadow: .25px 0px .1px, -.25px 0px .1px;
}

.navigation-link {
  text-decoration: none;
  color: #636363;
}

article {
  font-size: 18px;
  line-height: 29px;
  max-width: 83.2ex;
}

.post-title a {
  color: rgb(65, 110, 210);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.4em;
}

.post-body {
  font-size: 18px;
  line-height: 29px;
}

.post-body a {
  color: rgb(65, 110, 210);
}

.edit-post-link-container {
  margin-top: 20px;
}

.edit-post-link {
  text-decoration: none;
  color: rgb(65, 110, 210);
}

.edit-title {
}

.edit-post-title-input {
}

#edit-post-body {
  overflow: hidden;
  padding: 5px;
  width: 832px;
}

#preview-post-body {
  width: 832px;
  display: none;
}

#editor-toolbar {
  margin: 10px auto;
}

.editor-toolbar-button {
  padding: 2px 5px;
  border: 1px solid gray;
  margin-right: 2px;
  cursor: pointer;
  background-color: lightgray;
}
