<h3 class="edit-title"> Edit Post </h3>

<form action="/posts/<%= @post.slug %>" method="POST">
  <div >
    <input name="post[title]" type="text" placeholder="My New Post" required="true" value="<%= @post.title %>" />
  </div>

  <p id='edit-post-body-button'>Edit</p>
  <p id='preview-post-body-button'>Preview</p>

  <textarea id="edit-post-body" name="post[body]" required="true"><%= @post.body %></textarea>
  <div id="preview-post-body">PREVIEW BODY</div>

  <input type="submit" value="Submit" />
</form>
