<h3 class="edit-title"> Edit Post </h3>

<form action="/posts/<%= @post.slug %>" method="POST" id="post-form">
  <div >
    <input name="post[title]" type="text" placeholder="My New Post" required="true" value="<%= @post.title %>" />
  </div>

  <p id='edit-post-body-button'>Edit</p>
  <p id='preview-post-body-button'>Preview</p>
  <div id="editor"><%= @post.body%></div>
  <input id='hidden-post-body-input' name="post[body]" style='display:none;'/>
  <input type="submit" value="Submit" />
</form>
