<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Brass Bull</title>
  <meta name="description" content="The Brass Bull">
  <meta name="author" content="The Eternal One">

  <link rel="stylesheet" href="/stylesheets/normalize.css">

  <link href="/stylesheets/quill.snow.css" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/style.css">


<!-- Theme included stylesheets -->

</head>

<body>
  <% if @error_message %>
    <p class="flash flash-error"><%= @error_message %></p>
  <% end %>

  <% if @success_message %>
    <p class="flash flash-success"><%= @success_message %></p>
  <% end %>

  <main class="main-container">

    <%= erb :"shared/header" %>

    <%= yield %>
  </main>
  <script type="text/javascript" src="/javascripts/script.js"></script>
  <script type="text/javascript" src="/javascripts/bundle.js"></script>
</body>
</html>
